<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MVGR ERS</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/js/bootstrap.js" rel="stylesheet">
    <link href="bootstrap/js/bootstrap.min.js.css" rel="stylesheet">
    <link href="bootstrap/js/npm.js.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="MVGR_Home.css" rel="stylesheet">
  </head>

  <body id="eventsDisplyBody">
    <div class="container" id="toppestDiv2">
      <div class="row">
          <div class="col-md-4">
              <div id=topDiv><img src="Images\logo.png"></div>
          </div>
          <div class="col-md-4">
            <div id=topDiv>
              <ul class="nav nav-pills">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About Us</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
    
            <div id=topDiv>
              <div class="row">
                <div class="col-md-12 col-md-offset-1" style="padding-top: 5px">
                  <form class="form-inline">
                      <div class="form-group">
                        <input clas="form-control" type="text" name="adminname" placeholder="Admin name" size="15" height="20px">
                        <input clas="form-control" type="password" name="password" placeholder="Password" size="12">
                        <button type="submit" class="btn btn-blue">
                          <span class="glyphicon glyphicon-log-in"></span> Login
                        </button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
        
          </div>
       </div>
    </div>
   
    <!-- <br />
    <hr /> -->
    <div style="background-color: grey; height: 50px">
    <div class="flex-parent jc-center">
  <a href="Registor.html"><button type="submit" class="green margin-right">Registor</button></a>
  <a href="events_table.html"><button type="submit" class="green margin-right">Participate</button></a>
</div>
    </div>
      <div  id="eventTopDiv">
        <div class="row" style="margin-left: 50px; margin-right: 50px; margin-top: 20px;">
    <!--       <div class="col-md-3">
            <img src="Images\Events-Grid\womansday.jpg" width="600" height="220" >
          </div> -->
		  <div class="col-sm-3 blog-grid-4">
                  <div class="well">
                                <!-- Blog Grid Wrapper -->
                    <div class="event-wrap">
                        <!-- Blog Image Wrapper -->
                        <div class="event-img-wrap">
                            <img width="600" height="220" src="Images\Events-Grid\womansday.jpg" 
                            class="img-responsive" alt="Chief Guest, Mrs.Sobha Swathi Rani, ZP Chairperson,Vizianagaram">
                        </div><!-- Blog Wraper -->
                        <!-- Blog Detail Wrapper -->
                        <div class="event-details">
                            <h5><a href="/womans-day-celebrations-0">Woman&#039;s Day Celebrations</a></h5>
                            <ul class="events-meta">
                               <li><i class="fa fa-calendar-o"></i> Fri Mar 08 2019</li>
                               <li><i class="fa fa-map-marker"></i>  MVGR College Of Engineering(A)</li>
                            </ul><!-- Blog Meta -->
                           <!-- <p></p> -->
                           <!-- <a class="btn" href="/womans-day-celebrations-0">I'm Going</a> -->
                        </div><!-- Blog Detail Wrapper -->
                    </div><!-- Blog Wrapper -->
                  </div>
          </div>
		  
          <div class="col-sm-3 blog-grid-4">
                            <!-- Blog Grid Wrapper -->
              <div class="well">
                <div class="event-wrap">
                    <!-- Blog Image Wrapper -->
                    <div class="event-img-wrap">
                        <img width="600" height="220" src="Images\Events-Grid\freedomFest.jpg" class="img-responsive" alt="Freedom Fest 2017">
                    </div><!-- Blog Wraper -->
                    <!-- Blog Detail Wrapper -->
                    <div class="event-details">
                        <h5><a href="freedomFest.html">Freedom Fest 2019</a></h5>
                        <ul class="events-meta">
                           <li><i class="fa fa-calendar-o"></i> Fri Aug 18 2019</li>
                           <li><i class="fa fa-map-marker"></i>  Mvgr College Of Engineering</li>
                        </ul><!-- Blog Meta -->
                       <!-- <p></p> -->
                       <!-- <a class="btn" href="/freedom-fest-2017">I'm Going</a> -->
                    </div><!-- Blog Detail Wrapper -->
                </div><!-- Blog Wrapper -->
              </div>
          </div>

          <div class="col-sm-3 blog-grid-4">
              <div class="well">
                            <!-- Blog Grid Wrapper -->
                <div class="event-wrap">
                    <!-- Blog Image Wrapper -->
                    <div class="event-img-wrap">
                        <img width="600" height="220" src="Images\Events-Grid\womenEmpowerment.JPG" 
                        class="img-responsive" alt="Prof. D.J.J.Ramachandra Raju, Vice Principal(Admin)">
                    </div><!-- Blog Wraper -->
                    <!-- Blog Detail Wrapper -->
                    <div class="event-details">
                        <h5><a href="/women-empowerment-cell-entrepreneurship-awareness-programme">Women Empowerment Cell-Entrepreneurship Awareness Programme</a></h5>
                        <ul class="events-meta">
                           <li><i class="fa fa-calendar-o"></i> Thu Oct 17 2019</li>
                           <li><i class="fa fa-map-marker"></i>  MVGR College Of Engineering(A)</li>
                        </ul><!-- Blog Meta -->
                       <!-- <p></p> -->
                       <!-- <a class="btn" href="/women-empowerment-cell-entrepreneurship-awareness-programme">I'm Going</a> -->
                    </div><!-- Blog Detail Wrapper -->
                </div><!-- Blog Wrapper -->
              </div>
          </div>

          <div class="col-sm-3 blog-grid-4">
              <div class="well">
                            <!-- Blog Grid Wrapper -->
                <div class="event-wrap">
                    <!-- Blog Image Wrapper -->
                    <div class="event-img-wrap">
                        <img width="600" height="220" src="Images\Events-Grid\Intercollegiate.jpg"
                         class="img-responsive" alt=" Intercollegiate Sports Meet Of JNTUK">
                    </div><!-- Blog Wraper -->
                    <!-- Blog Detail Wrapper -->
                    <div class="event-details">
                        <h5><a href="/intercollegiate-sports-meet-jntuk">Intercollegiate Sports Meet Of JNTUK</a></h5>
                        <ul class="events-meta">
                           <li><i class="fa fa-calendar-o"></i> Fri Nov 07 2019</li>
                           <li><i class="fa fa-map-marker"></i>  Narasaravupet</li>
                        </ul><!-- Blog Meta -->
                       <!-- <p></p> -->
                       <!-- <a class="btn" href="/intercollegiate-sports-meet-jntuk">I'm Going</a> -->
                    </div><!-- Blog Detail Wrapper -->
                </div><!-- Blog Wrapper -->
              </div>
            </div>

          </div>
          <br/>
          <div class="row" style="margin-left: 50px; margin-right: 50px;">
            <div class="col-sm-3 blog-grid-4">
              <div class="well">
                            <!-- Blog Grid Wrapper -->
                <div class="event-wrap">
                    <!-- Blog Image Wrapper -->
                    <div class="event-img-wrap">
                        <img width="600" height="220" src="Images\Events-Grid\python.jpg" class="img-responsive" alt="Workshop by I.T Alumni">
                    </div><!-- Blog Wraper -->
                    <!-- Blog Detail Wrapper -->
                    <div class="event-details">
                        <h5><a href="/one-day-hands-workshop">One day Hands-on Workshop</a></h5>
                        <ul class="events-meta">
                           <li><i class="fa fa-calendar-o"></i> Wed Nov 06 2019</li>
                           <li><i class="fa fa-map-marker"></i>  MVGR College Of Engineering(A)</li>
                        </ul><!-- Blog Meta -->
                       <!-- <p></p> -->
                       <!-- <a class="btn" href="/one-day-hands-workshop">I'm Going</a> -->
                    </div><!-- Blog Detail Wrapper -->
                </div><!-- Blog Wrapper -->
              </div>
            </div>

            <div class="col-sm-3 blog-grid-4">
              <div class="well">
                            <!-- Blog Grid Wrapper -->
                <div class="event-wrap">
                    <!-- Blog Image Wrapper -->
                    <div class="event-img-wrap">
                        <img width="600" height="220" src="Images\Events-Grid\acm1.jpg" 
                        class="img-responsive" alt="ACM India Eminent Speaker">
                    </div><!-- Blog Wraper -->
                    <!-- Blog Detail Wrapper -->
                    <div class="event-details">
                        <h5><a href="/acm-india-eminent-speaker-program">ACM India Eminent Speaker Program</a></h5>
                        <ul class="events-meta">
                           <li><i class="fa fa-calendar-o"></i> Fri Nov 14 2019</li>
                           <li><i class="fa fa-map-marker"></i>  MVGR College Of Engineering(A)</li>
                        </ul><!-- Blog Meta -->
                       <!-- <p></p> -->
                       <!-- <a class="btn" href="/acm-india-eminent-speaker-program">I'm Going</a> -->
                    </div><!-- Blog Detail Wrapper -->
                </div><!-- Blog Wrapper -->
              </div>
            </div>

            <div class="col-sm-3 blog-grid-4">
              <div class="well">
                            <!-- Blog Grid Wrapper -->
                <div class="event-wrap">
                    <!-- Blog Image Wrapper -->
                    <div class="event-img-wrap">
                        <img width="600" height="220" src="Images\Events-Grid\EEE-FDP.jpg" class="img-responsive" alt="Faculty Development Programme">
                    </div><!-- Blog Wraper -->
                    <!-- Blog Detail Wrapper -->
                    <div class="event-details">
                        <h5><a href="/real-time-applications-lab-view-rtal-2k16">Real Time Applications on Lab-View (RTAL-2k16)</a></h5>
                        <ul class="events-meta">
                           <li><i class="fa fa-calendar-o"></i> Fri Nov 15 2019</li>
                           <li><i class="fa fa-map-marker"></i>  MVGR College Of Engineering (A)</li>
                        </ul><!-- Blog Meta -->
                       <!-- <p></p> -->
                       <!-- <a class="btn" href="/real-time-applications-lab-view-rtal-2k16">I'm Going</a> -->
                    </div><!-- Blog Detail Wrapper -->
                </div><!-- Blog Wrapper -->
              </div>
            </div>

            <div class="col-sm-3 blog-grid-4">
              <div class="well">
                            <!-- Blog Grid Wrapper -->
                <div class="event-wrap">
                    <!-- Blog Image Wrapper -->
                    <div class="event-img-wrap">
                        <img width="600" height="220" src="Images\Events-Grid\IMG_20170210_084846_1_0.jpg" class="img-responsive" alt="Sand Sculpture">
                    </div><!-- Blog Wraper -->
                    <!-- Blog Detail Wrapper -->
                    <div class="event-details">
                        <h5><a href="/national-womens-parliament">National Women&#039;s Parliament</a></h5>
                        <ul class="events-meta">
                           <li><i class="fa fa-calendar-o"></i> Sai Nov 16 2019</li>
                           <li><i class="fa fa-map-marker"></i>  Amavarathi ,Andhara Pradesh,India</li>
                        </ul><!-- Blog Meta -->
                       <!-- <p></p> -->
                       <!-- <a class="btn" href="/national-womens-parliament">I'm Going</a> -->
                    </div><!-- Blog Detail Wrapper -->
                </div><!-- Blog Wrapper -->
              </div>
            </div>

         </div>
         <div id="pagerDiv">
          <ul class="pager">
            <li class="disabled"><a href="#">&larr; Previous</a></li>
            <li class="disabled"><a href="#">Next &rarr;</li>
          </ul>
         </div>
      </div>
  </body>
</html>