<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Student Registration</title>
	 <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
     <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/js/bootstrap.js" rel="stylesheet">
    <link href="bootstrap/js/bootstrap.min.js.css" rel="stylesheet">
    <link href="bootstrap/js/npm.js.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/font-awesome-4.7.0/css/font-awesome.min.css">
  
</head>
<body align = "center" >
	<div class="container" id="toppestDiv2" >
      <div class="row">
          <div class="col-md-4">
              <div id=topDiv><img src="Images\logo.png"></div>
          </div>
          <div class="col-md-4" >
            <div id=topDiv>
              <ul class="nav nav-pills">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About Us</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
		
          </div>
       </div>
    </div>
<table style="border-collapse: collapse; width: 100%;height: 266px; " border="0">
<tbody>
<tr>
<td style="width: 50%;">
	<img src="Images/student.jpg"><br>
<a href="Student_Reg.html"><span style="font-size: 18pt;">Student Registration</span></a>
</td>
<td style="width: 50%;">
	<img src="Images/group.png"><br>
<a href="Student_Reg.html"><span style="font-size: 18pt;">Group Registration</span></a>
</td>
</tr>
</tbody>
</table>
</body>
</html>