<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Registration Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
     <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/js/bootstrap.js" rel="stylesheet">
    <link href="bootstrap/js/bootstrap.min.js.css" rel="stylesheet">
    <link href="bootstrap/js/npm.js.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="MVGR_Home.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
<div class="container" id="toppestDiv2">
      <div class="row">
          <div class="col-md-4">
              <div id=topDiv><img src="Images\logo.png"></div>
          </div>
          <div class="col-md-4">
            <div id=topDiv>
              <ul class="nav nav-pills">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About Us</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
		
          </div>
       </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="images/signup-img.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>student registration form</h2>
                            <div class="form-group">
                                <label for="name">Name :</label>
                                <input type="text" name="name" id="name" required/>
                            </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="state">State :</label>
                                <div class="form-select">
                                    <select name="state" id="state">
                                        <option value=""></option>
                                        <option value="us">America</option>
                                        <option value="uk">English</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city">City :</label>
                                <div class="form-select">
                                    <select name="city" id="city">
                                        <option value=""></option>
                                        <option value="losangeles">Los Angeles</option>
                                        <option value="washington">Washington</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="course">college :</label>
                            <div class="form-select">
                                <select name="course" id="course">
                                    <option value=""></option>
                                    <option value="computer">college1</option>
                                    <option value="desiger">college2</option>
                                    <option value="marketing">college3</option>
									<option value="computer">college4</option>
                                    <option value="desiger">college5</option>
                                    <option value="marketing">college6</option>
									<option value="computer">college7</option>
                                    <option value="desiger">college8</option>
                                    <option value="marketing">college9</option>
									<option value="marketing">college10</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
						<div class="form-group">
                            <label for="course">Events:</label>
                            <div class="form-select">
                                <select name="course" id="course">
                                    <option value=""></option>
                                    <option value="computer">Dance</option>
                                    <option value="desiger">Dance1</option>
                                    <option value="marketing">Dance2</option>
									<option value="computer">Dance3</option>
                                    <option value="desiger">Dance4</option>
                                    <option value="marketing">Dance5</option>
									<option value="computer">Dance6</option>
                                    <option value="desiger">Dance7</option>
                                    <option value="marketing">Dance8</option>
									<option value="marketing">Dance9</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email ID :</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- 
<script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>	-->
    
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>